<button appHighlight="lightBlue" class="btn btn-sm btn-dark" [routerLink]="['/notes/add']" data-toggle="collapse" data-target="#createForm">Click here to add a new note</button>
<router-outlet></router-outlet>
<hr/>
<h2>Notes</h2>
<!-- <h3>{{title}}</h3> -->
<div class="row">
    <div class="mb-15">
        <input class="w-100 searchBox" type="text" [(ngModel)]="searchTerm" (input)="filterNotes()" placeholder="Search notes..." />
    </div>
    <div class="Parentcontainer">
        <div class="items card text-white bg-dark" *ngFor="let note of filteredNotes">
            <div class="card-header" appHighlight="yellow">
                {{note.title}}
                <svg class="cursor-pointer h-1-5 float-right " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="deleteNote(note)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                <svg class="cursor-pointer h-1-5 float-right mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="updateNote(note)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
            </div>
            <div class="card-body" appHighlight="red">
                <h6 class="card-title">{{note.noteType}}</h6>
                <p class="card-text">{{note.details}}</p>
            </div>
            <footer class="blockquote-footer" style="text-align: right;padding-right: 5px;">
                <small class="text-white">
                    <cite title="Source Title">{{note.createdBy}}</cite> 
                </small>
            </footer>
        </div>
    </div>
</div>
